.upload-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-form {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.upload-form__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 600px) {
  .upload-form__item {
    width: 100%;
  }
}
.upload-form__item-title {
  font-weight: 600;
  margin-bottom: .5rem;
}

.measures {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem
}

.measures-coord {
  padding: .5rem;
  margin: .2rem;
  font-size: .8rem;
  line-height: .8rem;
  color: var(--text-color-secondary);
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-default);
}