input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: .2rem dashed var(--color-grey);
  border-radius: var(--border-radius-default);
  transition: var(--transition-default);
  cursor: pointer;
  max-width: 20rem;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.custom-file-upload:hover {
  border-color: rgba(0, 0, 0, .3);
}
.custom-file-label-text {
  font-size: .9rem;
  color: var(--text-color-secondary);
}

.spinner {
  border: 4px solid rgba(0,0,0, .1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}