.table-container {
  overflow-x: auto;
  table-layout: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media(max-width: 600px) {
  .table-container {
    display: block;
  }
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 1rem;
}
th, td {
  text-align: left;
  padding: 8px;
}

.table tr {
  background: var(--color-offwhite);
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}


.table tr:nth-child(even) {
  background: var(--color-white);
}