.submenu {
  display: flex;
  list-style: none;
  padding: 1rem;
  overflow-x: auto;
}

.submenu-item {
  font-size: .9rem;
  color: var(--text-color-secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-grey);
  padding-right: .5rem;
  padding-left: .5rem;
}

.submenu-link {
  color: var(--text-color-secondary);
  text-decoration: none;
  padding: .1rem .5rem;
  margin-bottom: .3rem;
  display: block;
  width: max-content;
}

.submenu-link:hover {
  color: var(--color-black);
  text-decoration: none;
  border-radius: var(--border-radius-default);
  background-color: var(--color-grey);
}

.submenu-item[data-current-path='true'] {
  border-bottom: 2px solid var(--color-black);
}

.submenu-item[data-current-path='true'] > .submenu-link {
  font-weight: 700;
  color: var(--color-black);
}