.custom-input-range-container {
  display: flex;
}

.custom-input-range {
  -webkit-appearance: none;
  width: 15rem;
  height: .8rem;
  background: var(--color-grey);
  outline: none;
  transition: var(--transition-default);
  border-radius: var(--border-radius-default);
  margin: 1rem;
}

.custom-input-range:hover {
  opacity: 1;
}

.custom-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 2rem;
  background: var(--color-blue);
  cursor: pointer;
}
.custom-input-range-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}