.signup-form {
  max-width: 100%;
}
.signup-form__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signup-form__column {
  width: 40%;
  margin: 1rem;
}

.signup-button-container {
  text-align: center;
}

@media(max-width: 600px) {
  .signup-form__column {
    width: 100%;
    margin: 0;
  }
}

.login-link {
  font-size: .9rem;
  padding: .5rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-color-secondary);
}

.login-link:hover {
  color: var(--color-black);
}